$baseFont: Arial, Helvetica, sans-serif
$baseFontColor: #333
$secondaryFontColor: #fff
$backgroundColor: #fdfdfd
$mainBackground: #f3f3f3
$hoverColor: orange
$hoverColor2: #3397DB
$footerFontColor: #aaa
$headingsColor: #b34d00
$borderColor: #ccc

=transform($property)
  -webkit-transform: $property
  -ms-transform: $property
  transform: $property

body, td, th, p
	font-family: $baseFont
	font-size: 10pt
	color: $baseFontColor
	line-height: 1.5
body
	background-color: $backgroundColor
	margin: 0
	position: relative
ul, li
	font-family: $baseFont
	font-size: 10pt
	color: $baseFontColor
a
	color: $hoverColor
	text-decoration: none
	&:hover, &:focus
		color: $hoverColor2
		text-decoration: none
	&:focus
    outline: 0
    box-shadow: 0 0 2px 3px red
	img
    border: none 0px #fff

select:focus, input:focus, textarea:focus
  outline: 0
  box-shadow: 0 0 3px 3px red
h1, h2, h3, h4, h5, h6
  font-family: $baseFont
  margin: 0 0 20px
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section
	display: block
header
  width: 100%
  position: fixed
  z-index: 1050
#maincontent
  padding: 80px 0 0 0
  background-color: $mainBackground
  min-height: 100%
#footer
  background-color: $baseFontColor
  color: $footerFontColor
  font-size: 10pt
  letter-spacing: 1px
  padding: 25px
  text-align: center
  text-transform: uppercase
  box-sizing: border-box
  a:hover,
  a:focus
    color: $secondaryFontColor

/* ===== Hide element on screen ===== */
.screenreader-only
  clip: rect(1px,1px,1px,1px)
  overflow: hidden
  display: none
  position: absolute
  top: -9999px

/* ====================== Navigation ====================== */
#heading-nav
  width: 100%
  height: 80px
  background-color: #252831
  text-align:center
  display: flex
  flex-wrap: nowrap
  align-items: center
  h1
    margin: auto
    &.symbol
    font-size: 18pt
    a
      color: $secondaryFontColor
      font-size: 16pt
      font-weight: 200
      letter-spacing: 5px
      text-transform: uppercase
      transition: 0.3s
      &:hover,
      &:focus
        color: $hoverColor

/* ====================== Map ====================== */
#map-container
  position: relative
#map
  height: 0
  width: 100%
  background-color: #ccc
  transition: height 0.5s
  &.open
    height: 450px